<div class="container col-8">
  <div class="d-flex sticky-top bg-light row ">
    <a routerLink="" class="col-1 flex-row  text-decoration-none">
      <button class="btn btn-link"><i class="fas fa-arrow-alt-circle-left"></i></button>
    </a>
    <h1 class="col-11 flex-row mw-50 " style="text-align: center;">Shopping Card</h1>
  </div>
  <table class="table">
    <thead>
    <tr class="row">
      <th scope="col" class="col">Product Name</th>
      <th scope="col" class="col">Price</th>
      <th scope="col" class="col">Quantity</th>
      <th scope="col" class="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of cartProduct" class="row">
      <td class="col">{{product.name}}</td>
      <td class="col">{{product.price}} zł</td>
      <td class="col d-flex"><input type="number" min="1" #quantity="ngModel" [(ngModel)]=product.quantity
                                    pattern="^[1-9]\d*$">
        <p class="flex-row text-danger ml-2" *ngIf="quantity.errors?.pattern">Quantity cannot be negative</p></td>
      <td class="col">
        <button class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="row">
      <td class="col">
        <div>Value: {{total}}</div>

      </td>
    </tr>
    </tfoot>
  </table>
</div>
