<div class="container col ">
  <mat-toolbar color="primary" class="d-flex justify-content-between sticky-top">

    <h3 class=" ">Product Catalog</h3>

    <input matInput type="text" class=" form-control  d-flex  ml-3" [(ngModel)]="searchText"
           placeholder="Search product">

    <a routerLink="/cart" style="text-align: right" class=" d-flex   ">
      <button class="btn btn-link "><i class="fas fa-shopping-cart"><p class="counter">{{counter}}</p></i></button>
    </a>
  </mat-toolbar>

  <div class="container d-flex flex-wrap">
    <ng-container *ngFor="let product of products | filter: searchText">
      <div class="col-12 col-sm-4 col-md-3 col-lg-2 mt-2 ">
        <div class="product" [class.isCart]="isInCart(product)">
          <h1 style="text-align: center">{{product.name | uppercase}}</h1>
          <img class="mw-100" src="{{product.photoUrl}}">
          <p class="col">Price {{product.price}} $</p>
          <button mat-raised-button color="primary" class="col mb-1" (click)="addToCard(product)">Add to cart</button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="popup" *ngIf="productRelated.length != 0">

    <div class="popup-info d-flex flex-column">
      <p class="title">Related Products</p>
      <div *ngFor="let item of productRelated" class="">
        {{item.name}}
      </div>

      <span class="close " (click)="close()">&times;</span>
    </div>

  </div>
</div>


