<div class="container mw-8">
  <h1 style="text-align: center;">Katalog Produktów</h1>
  <input type="text" class="form-control col" placeholder="Wyszukaj produkty" [(ngModel)]="term">

<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col">Nazwa Produktu</th>
      <th scope="col" class="col">Cena</th>
      <th scope="col" class="col">Ilość</th>
      <th scope="col" class="col"></th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let product of products | filter: term" class="row">
    <td class="col">{{product.name }}</td>
    <td class="col">{{ product.price + ' zł' }}</td>
    <td class="col"><input class=""  type="number" [(ngModel)]="product.quantity" name="quantity"></td>
    <td class="col"><button class=" btn btn-primary" (click)="addToCard(product)">Dodaj do koszyka</button></td>
  </tr>
</tbody>
</table>

<form #orderProduct="ngForm" (ngSubmit)="postProducts(product)">
  <h1 style="text-align: center;">Zamów towar</h1>
  <tr class="row">
    <td class="col"><input type="text" placeholder="wprowadź nazwę towaru" [(ngModel)]="product.name" name="name" required></td>
    <td class="col"><input type="number" placeholder="wprowadź cene towaru" [(ngModel)]="product.price" name="price" required></td>
    <td class="col "> <button [disabled] = "orderProduct.invalid" class="btn btn-danger" type="submit">Zamów</button></td>
<td><a routerLink="/cart" class="col ">
  <button class="btn btn-outline-info">Koszyk</button>
</a></td>
  </tr>
</form>
</div>
